@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.header {
  width: 100%;
}

.header_text {
  margin-bottom: 33px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.actions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 17px;
  margin-right: 0;
}

.actions-wrapper .actions {
  width: 100%;
}

.actions-wrapper .actions_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  padding-left: 12px;
  border: 1px solid #ebebf0;
  border-radius: 3px;
}

.actions-wrapper .actions_search-input {
  width: 100%;
  margin-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.actions-wrapper .actions_sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 210px;
  padding-left: 10px;
  border: 1px solid #ebebf0;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: #fafafc;
}

.actions-wrapper .actions_sort-label {
  color: #8f90a6;
  background-color: transparent;
}

.actions-wrapper .actions_sort-select {
  margin-left: 7px;
  margin-right: 38px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: transparent;
  color: #1c1c28;
  border: none;
  outline: none;
}

.actions-wrapper .actions_sort-arrow {
  position: absolute;
  width: 26px;
  height: 16px;
  z-index: 2;
  right: 13px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fafafc;
}

.products {
  width: 100%;
}

.products_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #ebebf0;
}

.products_header-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products_header-all input[type="checkbox"] {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #c7c9d9;
  border-radius: 3px;
}

.products_header-all input[type="checkbox"]:checked {
  position: relative;
  background-color: #f65e5d;
  border: none;
}

.products_header-all input[type="checkbox"]:checked::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 2.5px;
  border-radius: 1px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.products_header-all label {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.products_header-price {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.products_list {
  height: calc(100vh - 252px);
  overflow-y: hidden auto;
  overflow-x: hidden;
}

.products_list .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 19px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ebebf0;
}

.products_list .product_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 62%;
}

.products_list .product_main .checkbox_container {
  position: relative;
  margin-right: 10px;
  min-width: 16px;
  max-width: 16px;
}

.products_list .product_main .checkbox_container input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.products_list .product_main .checkbox_container .checkmark {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 16px;
  width: 16px;
  border: 1px solid #c7c9d9;
  border-radius: 3px;
  z-index: 2;
}

.products_list .product_main .checkbox_container .checkmark::after {
  position: absolute;
  content: "";
  top: 3px;
  left: 5px;
  width: 3px;
  height: 6px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: none;
  z-index: 3;
}

.products_list .product_main .checkbox_container input:checked ~ .checkmark {
  background-color: #f65e5d;
  border: none;
}

.products_list .product_main .checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.products_list .product_main label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 800px;
  margin-right: 10px;
}

.products_list .product_main label img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  border: 1px solid #ebebf0;
}

.products_list .product_main-body {
  width: 100%;
}

.products_list .product_main-body-name {
  display: block;
  width: 100%;
  margin-bottom: 2px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #1c1c28;
  overflow: hidden;
}

.products_list .product_main-body-id {
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #8f90a6;
}

.products_list .product_price {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 24px 16px 24px;
  -webkit-box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.04);
          box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.04);
}

.footer_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_left button {
  cursor: pointer;
  padding-top: 8px;
  background: #fff;
  padding-bottom: 8px;
  border-radius: 3px;
  border: 1px solid #ebebf0;
  color: #8f90a6;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_left .prev {
  padding-left: 8px;
  padding-right: 13px;
  margin-right: 26px;
}

.footer_left .prev img {
  margin-right: 8px;
}

.footer_left .next {
  padding-left: 12px;
}

.footer_left .next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  padding-right: 2px;
  padding-left: 12px;
}

.footer_left .active {
  color: #1c1c28;
  border-color: #1c1c28;
}

.footer_right button {
  padding: 8px 32px;
  border-radius: 3px;
  cursor: pointer;
}

.footer_right .cancel {
  color: #1c1c28;
  border: 1px solid #ebebf0;
  background: #fff;
  margin-right: 14px;
}

.footer_right .save {
  color: #fff;
  background-color: #f65e5d;
  border: 1px solid #f65e5d;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #fccfce;
          box-shadow: inset 0 0 5px #fccfce;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f65e5d;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
}

#app {
  width: 100%;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 32px 24px 16px 24px;
}
/*# sourceMappingURL=main.css.map */