@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./styles/variables";

@import "./styles/header";
@import "./styles/actions";
@import "./styles/product";
@import "./styles/footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
}
#app {
  width: 100%;
}
.container {
  width: 100%;
  padding: 32px 24px 16px 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
