.actions-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 17px;
  margin-right: 0;
  .actions {
    width: 100%;
    &_search {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 80%;
      padding-left: 12px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      &-input {
        width: 100%;
        margin-left: 8px;
        padding-top: 8px;
        padding-bottom: 8px;
        outline: none;
        border: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
    }
    &_sort {
      position: relative;
      display: flex;
      align-items: center;
      max-width: 210px;
      padding-left: 10px;
      border: 1px solid $border-color;
      border-radius: $border-radius;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      background-color: #fafafc;
      &-label {
        color: #8f90a6;
        background-color: transparent;
      }
      &-select {
        margin-left: 7px;
        margin-right: 38px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: transparent;
        color: $heading-color;
        border: none;
        outline: none;
      }
      &-arrow {
        position: absolute;
        width: 26px;
        height: 16px;
        z-index: 2;
        right: 13px;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fafafc;
      }
    }
  }
}
