.products {
  width: 100%;
  &_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
    &-all {
      display: flex;
      align-items: center;
      input[type="checkbox"] {
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        margin-right: 10px;
        border: 1px solid #c7c9d9;
        border-radius: $border-radius;
        &:checked {
          position: relative;
          background-color: $main-color;
          border: none;
          &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 2.5px;
            border-radius: 1px;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      span {
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
      }
    }
    &-price {
      font-weight: 700;
      font-size: 14px;
      line-height: 24px;
    }
  }
  &_list {
    height: calc(100vh - 267px);
    overflow: scroll;
    .product {
      margin-top: 19px;
      padding-bottom: 16px;
      border-bottom: 1px solid $border-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &_main {
        display: flex;
        width: 70%;
        justify-content: flex-start;
        .checkbox_container {
          margin-right: 10px;
          min-width: 16px;
          max-width: 16px;
          position: relative;
          input {
            -webkit-appearance: none;
          }
          .checkmark {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 16px;
            width: 16px;
            border: 1px solid #c7c9d9;
            border-radius: $border-radius;
            z-index: 2;
            &::after {
              content: "";
              position: absolute;
              top: 3px;
              left: 5px;
              width: 3px;
              height: 6px;
              border: solid #fff;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
              display: none;
              z-index: 3;
            }
          }
          input:checked ~ .checkmark {
            background-color: $main-color;
            border: none;
          }
          input:checked ~ .checkmark:after {
            display: block;
          }
        }

        label {
          display: flex;
          margin-right: 10px;
          width: 100%;
          max-width: 800px;
          img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: $border-radius;
            border: 1px solid $border-color;
            margin-right: 10px;
          }
        }
        &-body {
          width: 100%;
          &-name {
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            color: $productname-color;
            margin-bottom: 2px;
          }
          &-id {
            width: 100%;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: $productid-color;
          }
        }
      }
      &_price {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }
}
